body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: Sacramento;
}

.topcontainter {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-picture {
  height: 250px;
}

.skill-head {
  height: 240px;
}

.css {
  width: 20%;
  height: 200px;
}

.html {
  width: 20%;
  height: 200px;
}

.js {
  width: 20%;
  height: 200px;
}

.node {
  width: 20%;
  height: 200px;
}
.bottom-container{
  background-color: darksalmon;
}
.contact-me{
  background-color: darksalmon;
}
.middle-container{
  background-color: palevioletred;
}
